<!DOCTYPE html>
<html lang="en">

 	<head>
 		<!-- Meta Tags -->
		<meta charset="UTF-8">
		<meta name="author" content="Ch Daniyal Akhtar">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Title -->
 		<title>Home</title>
 		<!-- Style Sheet -->
		<link rel="stylesheet"  href="/styles/sellerandadminstyles.css">
        <link rel="stylesheet"  href="/styles/HeaderandFooter.css">
        <% if (typeof additionalCss !== 'undefined') { %>
            <% additionalCss.forEach(cssFile => { %>
                <link rel="stylesheet" href="<%= cssFile %>">
            <% }); %>
        <% } %>
 	</head>
<body>


<header>
    <div class="container">
        <div class="brand">
            <div class="logo">
                <a href="/sellerhome">
                    <img src="/images/Logo.png" class="logoimg">
                    <div class="logo-text">
                        <p class="big-logo">EASYBAZAR</p>
                        <p class="small-logo">online store</p>
                    </div>
                </a>
            </div>
            <div style="color: white; cursor: pointer; margin-right: 50px;" class="js-logout">

            </div> <!-- logo --> <!-- shop icons -->
        </div> <!-- brand -->
    </div> <!-- container -->
</header> <!-- header -->

<script src="/scripts/checkAdminLoggedin.js"></script>