<%- include("header")%>
    <% additionalCss=['/styles/cartandbuynow.css']; %>

        <div class="main">
            <div class="page-title">Review your Cart</div>
            <div class="cart-page-container">
            </div>
            <div class="checkout-button-div">
                <button type="submit" name="source" value="cart" class="checkout-button button-primary">
                    Proceed to Checkout
                </button>
            </div>
        </div>
        <script type="module" src="/scripts/cartPage.js"></script>
        <%-include("footer")%>