<footer>
    <div class="footerDiv">
      <nav class="nav-footer">
        <ul class="ulbar">
          <a href="#" target="_blank" class="navBarElement">FAQs</a>
          <a href="#" target="_blank" class="navBarElement">Terms of use</a>
          <a href="#" target="_blank" class="navBarElement">Privacy Policy</a>
          <a href="#" target="_blank" class="navBarElement">Refund Policy</a>
        </ul>
      </nav>
    </div>
  </footer>
</body>

</html>