<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Header</title>
  <link rel="stylesheet" href="styles/HeaderandFooter.css">
  <% if (typeof additionalCss !== 'undefined') { %>
    <% additionalCss.forEach(cssFile => { %>
        <link rel="stylesheet" href="<%= cssFile %>">
    <% }); %>
<% } %>
</head>

<body class="body">
  <header class="headerbox">
    <div class="outermostDiv">
      <div class="header-content">
        <img src="images/Logo.png" alt="skill issue" height=60px class="logopic">
        <div class="searchbar">Product: <input type="text" placeholder="Search Product Category "
            class="searchbarelement" width="600px"> </div>
      </div>
      <nav class="nav-header">
        <ul class="ulbar">
          <a href="/home" class="navBarElement">Home</a>
          <a href="/cart-page"  class="navBarElement">Cart</a>
          <a href="/aboutus"  class="navBarElement">About us</a>
          <a href="/contactus"   class="navBarElement">Contact us</a>
          <a href="/mypurchases" class="navBarElement">My Purchases</a>
          <a href="" class="navBarElement">Login/Signup</a>
        </ul>
    </div>
    </nav>
    </div>
  </header>