main{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}
/* .outermostDiv{
    display: flex;
    flex-direction:column;    
} */
.nav-header,.nav-footer {
    background-color: black;
    color: aliceblue;
}


.navBarElement {
    text-decoration: none;
    color: aliceblue;
    display: inline-block;
    background-color: black; 
    transition: 0.2s;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 40px;
    padding-right: 40px;
    margin-right: 0px;
    margin-left: 0px;

}

.navBarElement:hover {
    background-color: grey;
}
.searchbarelement{
    padding: 11px 25px;
    width: 400px;
    margin-top: 5px;

    padding-left: 30px; /* Adjust according to the size of your icon */
    background-image: url('search_icon.svg'); /* Replace 'your-icon.svg' with the path to your SVG file */
    background-repeat: no-repeat;
    background-position: 5px center;
     
}
.searchbarelement::placeholder{
    color: rgb(157, 157, 157);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.searchbarelement:focus{
    outline: none;
}
.header-content {
    display: flex;
    align-items: center;
    font-size: 25px;
    background-color: rgb(0, 0, 0);
    margin-bottom: 0px;
  }

  .searchbar {
    margin-left: 150px; 
  }
  .searchbarelement{
    border-radius: 15px;
    border-style:solid;
    border-width: 1px;
  }
  .headerbox{
    margin-left: 0px;
  }
  .body{
    margin: 0px;
  
  }
.ulbar{
    margin: 0px;
    padding-left: 0px;
   
}
.headingtxt{
    
    text-align: center;
    animation:  duration timing-function delay iteration-count direction fill-mode;
}
.desctxt{
  margin-left: 170px;
  margin-right: 170px;
  text-align: center;
}
.descimg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 33%;
}

