<%- include("header")%>
  <main>
    <!-- <section>
      <h1 class="headingtxt">Every thing at door step</h1>
      <p class="desctxt">EasyBazar ensures top-notch quality with every purchase, delivering convenience and
        satisfaction right to your doorstep. Shop with us for unparalleled excellence in every product</p>
      <img src="door_step.jpg" alt="The picture is not loaded" class="descimg">
    </section>
    <section>

      <div>
        <h2 class="headingtxt">Top Quality Product</h2>
        <p class="desctxt">Sclothers credits its origin to a simple yet industry disrupting realization, "Quality should
          never be a
          privilege". We Synthesize the best of both worlds; Quality, Fashionable apparel that does not form craters in
          your wallet.</p>
        <img src="quality_assurance.jpg" alt="The picture is not loaded" class="descimg">
      </div>
      <div>
        <h2 class="headingtxt">Proudly made in Pakistan</h2>
        <p class="desctxt">Our Industry manufactures products for the most loved brands over the globe. Thus, we produce
          every piece of product with the same export spirit. Yet, we take pride in being a Pakistani owned and produced
          entity.</p>
        <img src="flag.jpg" alt="The picture is not loaded" class="descimg">
      </div>
      <div>
        <h2 class="headingtxt">Fast Delivery Service</h2>
        <p class="desctxt"> We prioritize fast turnaround times on all orders. The moment you place your order, our
          dedicated team swings into action, meticulously processing and shipping it out ASAP. In most cases, you'll be
          rocking your fresh products within just a few business days.</p>
        <img src="fast_delivery.jpg" alt="The picture is not loaded" class="descimg">
      </div>
    </section> -->
    <% for(let i=0 ; i< categories.length ; i++) {%>
      <div class="container">
        <span class="c-name"><%= categories[i].name%></span>
        <div class="products-container">
          <div class="product">
            <img class="p-img" src="../Images/delivery.jpg" alt="">
            <p class="p-name">Product Name</p>
          </div>
          <div class="product">
            <img class="p-img" src="../Images/HomePic.jpg" alt="">
            <p class="p-name">Product Name</p>
          </div>
          <div class="product">
            <img class="p-img" src="../Images/quality_assurance.jpg" alt="">
            <p class="p-name">Product Name</p>
          </div>
        </div>
      </div>

      <% }%>
  </main>
  <%- include("footer") %>