<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles/loginandsignup.css">
    <title>
        <%=type%>
    </title>
</head>

<body>
    <img src="images/Logo.png" class="logo">
    <h1 class="easybazar">Easy Bazar</h1>
    <% if(type==="Log in" ){ %>
        <div id="login" class="logincolor">
            <h1 class="signupheading">Log in</h1>
            <form id="loginForm" action="/login" class="login-form" method="post">
                <table>
                    <td >
                        <div id="signupchoice">
                        <label for="option1">
                            Buyer
                        </label>
                        <input type="radio" name="option" id="option1" value="buyer">
                        <label for="option2">Seller</label>
                        <input type="radio" name="option" id="option2" value="seller">
                    </div>
                    </td>
                    <tr>
                        <td><input type="text" class="inputbox email" placeholder="Email" name="email" required
                                id="LoginEmail"></td>
                    </tr>
                    <tr>
                        <td><input type="password" class="inputbox password" placeholder="Password" name="password" required
                                id="LoginPassword"></td>
                    </tr>
                </table>
                <button type="submit" class="signupbtn" id="loginButton">Login</button>
            </form>
            <div id="choice">
                <p class="accounttxt">Don't have an account?
                <form style="display: inline;" action="/userchoice" method="post">
                    <button type="submit" name="signup" class="signupbtn" style="display: inline; padding: 10px 15px; ">Sign up</button>
                </form>
                </p>
            </div>
        </div>
        <% } else { %>
            <div class="colorsignup">
                <h1 class="signupheading">Signup</h1>
                <form id="signupForm" action="/signup" method="post">
                    <table>
                        <tr>
                            <td >
                                <div id="signupchoice">
                                <label for="option1">
                                    Buyer
                                </label>
                                <input type="radio" name="option" id="option1" value="buyer">
                                <label for="option2">Seller</label>
                                <input type="radio" name="option" id="option2" value="seller">
                                <label for="option3">Both</label>
                                <input type="radio" name="option" id="option3" value="both">
                            </div>
                            </td>
                        </tr>
                        <tr>
                            <td><input type="text" placeholder="First Name" class="inputbox" name="firstName" required>
                            </td>
                        </tr>
                        <tr>
                            <td><input type="text" placeholder="Last Name" class="inputbox" name="lastName" required>
                            </td>
                        </tr>
                        <tr>
                            <td><input type="email" placeholder="Email" class="inputbox" name="email" required></td>
                        </tr>
                        <tr>
                            <td><input type="tel" placeholder="Phone Number" class="inputbox" name="phNum" required>
                            </td>
                        </tr>
                        <tr>
                            <td><input type="password" placeholder="Password" class="inputbox" name="password" required
                                    id="passwords"></td>
                        </tr>
                        <tr>
                            <td><input type="password" placeholder="Retype-Password" class="inputbox" name="rePass"
                                    required id="Retype-Password"></td>
                        </tr>
                    </table>
                    <input type="submit" id="signupButton" class="signupbtn">
                </form>
            </div>
            <%}%>
            <script src="/scripts/login.js"></script>
</body>
</html>