<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="LoginSignup.css">
    <title>Login/Signup</title>
</head>
<body>
  
    <img src="Logo.png" class="logo">
    <h1 class="easybazarh">Easy Bazar</h1>
    <div id="login">
    <form id="loginForm" action="/login" class="login-form" method="post">
            <table>
                <tr><td>Email:</td> <td><input type="text" placeholder="Email" name="email" required id="LoginEmail"></td></tr>
                <tr><td>Password:</td> <td><input type="password" placeholder="Password" name="password" required id="LoginPassword"></td></tr>
            </table>
            <button type="submit" id="loginButton">Login</button>
            <p>Don't have an account <a href="#" id="signupLink">signup</a></p>
    </form>
</div>
<div class="colorsignup">
    <h1 class="signupheading">Signup</h1>
    <form id="signupForm" action="/signup" method="post" >
            <table>
                <tr> <td><input type="text" placeholder="First Name" class="inputbox" name="firstName" required></td></tr>
                <tr> <td><input type="text" placeholder="Last Name" class="inputbox"  name="lastName" required></td></tr>
                <tr><td><input type="email" placeholder="Email" class="inputbox"  name="email" required></td></tr>
                <tr> <td><input type="number" placeholder="Phone Number" class="inputbox"  name="phNum" required></td></tr>
                <tr> <td><input type="password" placeholder="Password" class="inputbox"  name="password" required id="passwords"></td></tr>
                <tr> <td><input type="password" placeholder="Retype-Password" class="inputbox"  name="rePass" required id="Retype-Password"></td></tr>
            </table>
            <input type="submit" id="signupButton" class="signupbtn">
        </fieldset>
    </form>
   
</div>

    <script>
        //This block of code change the signup and login page
        document.getElementById("signupLink").addEventListener("click", function(event) {
           /* document.getElementById("signupButton").addEventListener("click",function(event){
            if(document.getElementById("passwords").value !=document.getElementById("Retype-Password").value){
                alert("Password does not match");
                event.preventDefault();
            }
        })*/
            document.getElementById("loginForm").style.display = "none";
            document.querySelector(".colorsignup").style.display = "block";
        });

        //this block of code take us to the home page when we press the login button
        // document.getElementById('loginButton').addEventListener('click',function (event){
        //     if((document.getElementById('LoginEmail').value==="")||(document.getElementById('LoginPassword').value==="")){
            // event.preventDefault();
        //     }
        //     else{
        //         
        //     window.location.href="HomePage.html"
        //     }
        // })
    </script>
</body>
</html>
