<%- include("header") %>
<% additionalCss=['/styles/cartandbuynow.css']; %>

  <div class="main">
    <div class="page-title">Your Orders</div>
    <div class="checkout-grid">
      <div class="order-summary" id="content-container">
      </div>
    </div>
  </div>
  <script src="/scripts/mypurchases.js"></script>
  <%- include("footer")%>