<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="UserPaymentinformation">
        <p>Enter your adress information</p>
        <label>Country:</label>
        <input type="text" placeholder="Enter Country" required>
        <label>City:</label>
        <input type="text" placeholder="Enter City"required>
        <label>Street no#</label>
        <input type="text" placeholder="Enter Street no#"required>
        <label>House no#</label>
        <input type="text" placeholder="Enter House no#"required>
    </div>
    <div class="PaymentDetail">
        <p>Select payment detail</p>
        <select name="" id="" required>
            <option value="">Select one option</option>
            <option value="Cashondelivery">Cash on delivery</option>
            <option value="Onlinetransfer">Online transfer</option>
            <option value="Bank/Creditcard">Bank/Credit card</option>
        </select>

    </div>
</body>

</html>