<%- include('header') %>
<% additionalCss=['/styles/categorypage.css']; %>

        <div class="product-container">
            <div class="product-div">
                <div class="image-div">
                    <img class="product-image" src="/images/search_icon.svg" alt="Interent Issue">
                </div>
                <div class="description-div">
                    <div class="text-div">
                        <p class="product-name">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        </p>
                        <p class="product-description">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error et beatae, culpa tempora officia numquam? Praesentium, odit molestiae. A iste nobis tenetur optio reprehenderit provident illo consequuntur dolorum quod voluptate.
                        </p>
                    </div>
                    <div class="buttons-div">
                        <p>Availability: </p>
                        <p>Price: </p>
                        <button>Add to Cart</button>
                        <button>Buy Now</button>
                    </div>
                </div>
            </div>
        </div>

        <%- include("footer")%>