<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="mainProductDiv">
        <div class="productImageDiv">
            <img src="HomePic.jpg" alt="Skill issue" height="100px">
        </div>
        <div class="mainDescriptionHeading">
            <div>
                <p>here comes the name </p>
            </div>
            <div>
                <p>here comes the rating </p>
                <P>we will add th estar in the tag but dont know how to do it</P>
                <p>add a review function</p>
            </div>
            <div>
                <p>here comes the description of the product</p>
            </div>
            <div>
                <p>availability</p>
                <p>price</p>
                <button>Add to cart</button>
                <button>Add to wishlist</button>
            </div>


        </div>
    </div>

</body>

</html>