<%- include("header") %>
<% additionalCss=['/styles/cartandbuynow.css']; %>

<div class="main">
    <div class="page-title">Review your Cart</div>
    <div class="cart-page-container">
    </div>
</div>
<script src="/scripts/wishlist.js"></script>

<%- include("footer") %>