.main-container{
    margin-top: 20px;
}


.c-name{
    margin-left: 20px;
    font-size: 20px;
    font-family: "Raleway" , sans-serif;
    color: rgb(177, 174, 174);
    border-bottom: 2px solid rgb(121, 121, 121);
    display: inline-block;
    font-weight: 600;
    width: 250px;
    cursor: pointer;
}

.products-container{
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}

.p-img{
    height: 200px;
}

.product{
    padding: 30px;
    background-color: rgb(221, 221, 221);
    border-radius: 5px;
    cursor: pointer;
}

.product:hover{
    box-shadow: 4px 4px 4px 3px rgba(0, 0, 0, 0.4);
}

.p-name{
    color: teal;
    font-size: 18px;
    font-weight: 500;
    font-family: "Open Sans" , sans-serif;
}